button {
  width: 200px;
  height: 200px;
  font-size: 80px;
  line-height: 60px;
  padding: 0;
  border: 2px solid #333;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

#board{
  text-align: center;
}